body {
    font-family: Arial, sans-serif;
    background-color: #a39696;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(197, 184, 184);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5a3751;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5a3751;
}

.error {
    color: red;
}
